body {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100vw;
  height: 100vh;
}

.top-bar {
  grid-area: 1 / 1 / 2 / 6;
  background-color: pink;
}

.navigation {
  grid-area: 2 / 1 / 6 / 2;
  background-color: cyan;
}

.sub-application {
  grid-area: 2 / 2 / 6 / 6;
  background-color: yellow;
}
